{
  "openapi": "3.0.3",
  "info": {
    "title": "Fieldwire Super API",
    "version": "v3"
  },
  "servers": [
    {
      "url": "https://client-api.super.fieldwire.com"
    }
  ],
  "components": {
    "parameters": {
      "id": {
        "name": "id",
        "in": "path",
        "description": "ID of the entity",
        "required": true,
        "schema": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "schemas": {
      "account": {
        "type": "object",
        "nullable": false,
        "description": "Information about the account & its owner",
        "required": [
          "id"
        ],
        "additionalProperties": true,
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "nullable": false,
            "description": "ID of the entity"
          },
          "company_address": {
            "type": "string",
            "nullable": true,
            "description": "Address of the company"
          },
          "company_name": {
            "type": "string",
            "nullable": true,
            "description": "Name of the company"
          },
          "has_photo_attachments_toggle": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether photo attachments can be turned on & off"
          },
          "has_tasks_toggle": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether tasks can be turned on & off"
          },
          "is_3d_bim_enabled": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether BIM is enabled"
          },
          "is_submittals_enabled": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether Submittal module is enabled"
          },
          "is_change_orders_enabled": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether Change Orders module is enabled"
          },
          "is_pm_enabled": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether RFI module is enabled"
          },
          "has_pm": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether any PM module is enabled"
          },
          "has_specs": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether specs module is enabled"
          },
          "invoice_email": {
            "type": "string",
            "nullable": true,
            "description": "Email to send the invoice to"
          },
          "owner": {
            "type": "object",
            "description": "General information of a user",
            "required": [
              "id",
              "is_email_deliverable",
              "email",
              "first_name",
              "language",
              "last_name",
              "sync_scheme",
              "created_at",
              "updated_at"
            ],
            "nullable": false,
            "properties": {
              "id": {
                "type": "integer",
                "format": "int32",
                "description": "ID of user",
                "nullable": false
              },
              "account_id": {
                "type": "integer",
                "format": "int32",
                "nullable": false,
                "description": "ID of the account this user belongs to"
              },
              "invited_by_id": {
                "type": "integer",
                "format": "int32",
                "nullable": true,
                "description": "ID of the user who invited this user to the platform"
              },
              "is_email_deliverable": {
                "type": "boolean",
                "nullable": false,
                "description": "If email can be delivered to this user"
              },
              "company": {
                "type": "string",
                "nullable": true,
                "description": "Name of the company this user belongs to"
              },
              "company_type": {
                "type": "string",
                "nullable": true,
                "enum": [
                  "ARCHITECT_SLASH_DESIGNER",
                  "GENERAL_CONTRACTOR",
                  "OWNER",
                  "SPECIALTY_CONTRACTOR",
                  "OTHER",
                  null
                ],
                "description": "Type of the company this user belongs to"
              },
              "email": {
                "type": "string",
                "nullable": false,
                "description": "Email of this user"
              },
              "first_name": {
                "type": "string",
                "nullable": false,
                "description": "First name of this user"
              },
              "job_title": {
                "type": "string",
                "nullable": true,
                "description": "Title this user holds at their job"
              },
              "language": {
                "type": "string",
                "nullable": false,
                "description": "Preferred language of this user"
              },
              "last_name": {
                "type": "string",
                "nullable": false,
                "description": "Last name of this user"
              },
              "phone_number": {
                "type": "string",
                "nullable": true,
                "description": "Phone number of this user"
              },
              "photo_url": {
                "type": "string",
                "nullable": true,
                "description": "URL where the profile picture of this user lives"
              },
              "email_notifications": {
                "type": "string",
                "enum": [
                  "never",
                  "daily",
                  "instantly",
                  null
                ],
                "nullable": true,
                "description": "Email notification preference of this user for delivering task updates"
              },
              "sync_scheme": {
                "type": "string",
                "enum": [
                  "smart_cellular",
                  "full_cellular"
                ],
                "nullable": false,
                "description": "Synchronization scheme of this user used by the mobile apps"
              },
              "account_role": {
                "type": "string",
                "enum": [
                  "account_member",
                  "account_admin"
                ],
                "nullable": false,
                "description": "The role of the user in the account they belong to"
              },
              "email_addresses": {
                "type": "array",
                "deprecated": true,
                "nullable": false,
                "description": "Deprecated. Use the \"email\" property instead",
                "items": {
                  "type": "object",
                  "nullable": false,
                  "description": "Email associated with the user account"
                }
              },
              "is_confirmed": {
                "type": "boolean",
                "nullable": false,
                "description": "Whether the user has accepted the invitation if there was one"
              },
              "created_at": {
                "type": "string",
                "format": "date-time",
                "nullable": false,
                "description": "Time when the server created this user"
              },
              "current_sign_in_at": {
                "type": "string",
                "format": "date-time",
                "nullable": true,
                "description": "Last time the user was seen online"
              },
              "in_app_purchase_end_at": {
                "type": "string",
                "format": "date-time",
                "nullable": true,
                "description": "When the in app purchase this user made ends"
              },
              "updated_at": {
                "type": "string",
                "format": "date-time",
                "nullable": false,
                "description": "Time when the server last updated this user"
              },
              "trade_type": {
                "type": "string",
                "nullable": true,
                "enum": [
                  "CONCRETE",
                  "EARTHWORK",
                  "ELECTRICAL",
                  "FIRE_SUPPRESSION",
                  "FRAMING_AND_OR_DRYWALL",
                  "HVAC",
                  "LOW_VOLTAGE",
                  "MECHANICAL",
                  "PLUMBING",
                  "UTILITIES",
                  "OTHER",
                  null
                ],
                "description": "Type of the trade this user's company belongs to"
              }
            },
            "additionalProperties": false
          }
        }
      },
      "account_update_input": {
        "type": "object",
        "nullable": false,
        "description": "Information about the account to be updated",
        "properties": {
          "account": {
            "type": "object",
            "nullable": false,
            "properties": {
              "company_address": {
                "type": "string",
                "nullable": true,
                "description": "Address of the company"
              },
              "company_name": {
                "type": "string",
                "nullable": true,
                "description": "Name of the company"
              },
              "invoice_email": {
                "type": "string",
                "nullable": true,
                "description": "Email to send the invoice to"
              },
              "owner_user_id": {
                "type": "integer",
                "format": "int32",
                "nullable": false,
                "description": "ID of the user"
              }
            },
            "description": "Information about the account to be updated",
            "additionalProperties": false
          }
        },
        "additionalProperties": false
      },
      "account_user": {
        "type": "object",
        "nullable": false,
        "description": "General info for user in an account with count of account projects involved in",
        "required": [
          "user",
          "projects"
        ],
        "properties": {
          "user": {
            "type": "object",
            "description": "General information of a user",
            "required": [
              "id",
              "is_email_deliverable",
              "email",
              "first_name",
              "language",
              "last_name",
              "sync_scheme",
              "created_at",
              "updated_at"
            ],
            "nullable": false,
            "properties": {
              "id": {
                "type": "integer",
                "format": "int32",
                "description": "ID of user",
                "nullable": false
              },
              "account_id": {
                "type": "integer",
                "format": "int32",
                "nullable": false,
                "description": "ID of the account this user belongs to"
              },
              "invited_by_id": {
                "type": "integer",
                "format": "int32",
                "nullable": true,
                "description": "ID of the user who invited this user to the platform"
              },
              "is_email_deliverable": {
                "type": "boolean",
                "nullable": false,
                "description": "If email can be delivered to this user"
              },
              "company": {
                "type": "string",
                "nullable": true,
                "description": "Name of the company this user belongs to"
              },
              "company_type": {
                "type": "string",
                "nullable": true,
                "enum": [
                  "ARCHITECT_SLASH_DESIGNER",
                  "GENERAL_CONTRACTOR",
                  "OWNER",
                  "SPECIALTY_CONTRACTOR",
                  "OTHER",
                  null
                ],
                "description": "Type of the company this user belongs to"
              },
              "email": {
                "type": "string",
                "nullable": false,
                "description": "Email of this user"
              },
              "first_name": {
                "type": "string",
                "nullable": false,
                "description": "First name of this user"
              },
              "job_title": {
                "type": "string",
                "nullable": true,
                "description": "Title this user holds at their job"
              },
              "language": {
                "type": "string",
                "nullable": false,
                "description": "Preferred language of this user"
              },
              "last_name": {
                "type": "string",
                "nullable": false,
                "description": "Last name of this user"
              },
              "phone_number": {
                "type": "string",
                "nullable": true,
                "description": "Phone number of this user"
              },
              "photo_url": {
                "type": "string",
                "nullable": true,
                "description": "URL where the profile picture of this user lives"
              },
              "email_notifications": {
                "type": "string",
                "enum": [
                  "never",
                  "daily",
                  "instantly",
                  null
                ],
                "nullable": true,
                "description": "Email notification preference of this user for delivering task updates"
              },
              "sync_scheme": {
                "type": "string",
                "enum": [
                  "smart_cellular",
                  "full_cellular"
                ],
                "nullable": false,
                "description": "Synchronization scheme of this user used by the mobile apps"
              },
              "account_role": {
                "type": "string",
                "enum": [
                  "account_member",
                  "account_admin"
                ],
                "nullable": false,
                "description": "The role of the user in the account they belong to"
              },
              "email_addresses": {
                "type": "array",
                "deprecated": true,
                "nullable": false,
                "description": "Deprecated. Use the \"email\" property instead",
                "items": {
                  "type": "object",
                  "nullable": false,
                  "description": "Email associated with the user account"
                }
              },
              "is_confirmed": {
                "type": "boolean",
                "nullable": false,
                "description": "Whether the user has accepted the invitation if there was one"
              },
              "created_at": {
                "type": "string",
                "format": "date-time",
                "nullable": false,
                "description": "Time when the server created this user"
              },
              "current_sign_in_at": {
                "type": "string",
                "format": "date-time",
                "nullable": true,
                "description": "Last time the user was seen online"
              },
              "in_app_purchase_end_at": {
                "type": "string",
                "format": "date-time",
                "nullable": true,
                "description": "When the in app purchase this user made ends"
              },
              "updated_at": {
                "type": "string",
                "format": "date-time",
                "nullable": false,
                "description": "Time when the server last updated this user"
              },
              "trade_type": {
                "type": "string",
                "nullable": true,
                "enum": [
                  "CONCRETE",
                  "EARTHWORK",
                  "ELECTRICAL",
                  "FIRE_SUPPRESSION",
                  "FRAMING_AND_OR_DRYWALL",
                  "HVAC",
                  "LOW_VOLTAGE",
                  "MECHANICAL",
                  "PLUMBING",
                  "UTILITIES",
                  "OTHER",
                  null
                ],
                "description": "Type of the trade this user's company belongs to"
              }
            },
            "additionalProperties": false
          },
          "projects": {
            "type": "integer",
            "description": "Number of projects in this account this user is a part of",
            "nullable": false
          }
        },
        "additionalProperties": false
      },
      "account_user_update_input": {
        "type": "object",
        "nullable": false,
        "description": "Input for updating account info for a user",
        "properties": {
          "user": {
            "type": "object",
            "nullable": false,
            "description": "Input for updating account info of a user",
            "properties": {
              "account_role": {
                "type": "string",
                "enum": [
                  "account_member",
                  "account_admin"
                ],
                "nullable": false,
                "description": "Role this user holds in this account"
              }
            },
            "additionalProperties": false
          }
        },
        "additionalProperties": false
      },
      "account_user_profile_update_input": {
        "type": "object",
        "nullable": false,
        "description": "Input for updating profile of a user in account",
        "properties": {
          "user": {
            "type": "object",
            "nullable": false,
            "description": "Input for updating profile info for a user",
            "properties": {
              "company": {
                "type": "string",
                "nullable": true,
                "description": "Name of the company this user belongs to"
              },
              "company_type": {
                "type": "string",
                "nullable": true,
                "enum": [
                  "ARCHITECT_SLASH_DESIGNER",
                  "GENERAL_CONTRACTOR",
                  "OWNER",
                  "SPECIALTY_CONTRACTOR",
                  "OTHER",
                  null
                ],
                "description": "Type of the company this user belongs to"
              },
              "job_title": {
                "type": "string",
                "nullable": true,
                "description": "Title this user holds at their job"
              },
              "max_employees": {
                "type": "integer",
                "nullable": true,
                "description": "Max number of employees in this user's company"
              },
              "min_employees": {
                "type": "integer",
                "nullable": true,
                "description": "Min number of employees in this user's company"
              },
              "phone_number": {
                "type": "string",
                "nullable": true,
                "description": "Phone number of this user"
              },
              "trade_type": {
                "type": "string",
                "nullable": true,
                "enum": [
                  "CONCRETE",
                  "EARTHWORK",
                  "ELECTRICAL",
                  "FIRE_SUPPRESSION",
                  "FRAMING_AND_OR_DRYWALL",
                  "HVAC",
                  "LOW_VOLTAGE",
                  "MECHANICAL",
                  "PLUMBING",
                  "UTILITIES",
                  "OTHER",
                  null
                ],
                "description": "Type of the trade this user's company belongs to"
              }
            },
            "additionalProperties": false
          }
        },
        "additionalProperties": false
      },
      "account_user_invite_input": {
        "type": "object",
        "nullable": false,
        "description": "Input for inviting a user to an account",
        "required": [
          "email",
          "account_role"
        ],
        "properties": {
          "account_role": {
            "type": "string",
            "enum": [
              "account_member",
              "account_admin"
            ],
            "nullable": false,
            "description": "The role in the account to assign to the user"
          },
          "email": {
            "type": "string",
            "nullable": false,
            "description": "Email of this user"
          },
          "user_attrs": {
            "type": "object",
            "nullable": false,
            "description": "Properties to set for a new user",
            "properties": {
              "company": {
                "type": "string",
                "nullable": true,
                "description": "Name of the company this user belongs to"
              },
              "first_name": {
                "type": "string",
                "nullable": false,
                "description": "First name of this user"
              },
              "job_title": {
                "type": "string",
                "nullable": true,
                "description": "Title this user holds at their job"
              },
              "last_name": {
                "type": "string",
                "nullable": false,
                "description": "Last name of this user"
              },
              "phone_number": {
                "type": "string",
                "nullable": true,
                "description": "Phone number of this user"
              }
            },
            "additionalProperties": false
          }
        },
        "additionalProperties": false
      },
      "account_user_batch_update": {
        "type": "object",
        "nullable": false,
        "description": "Data for batch updating user account role",
        "required": [
          "ids"
        ],
        "properties": {
          "ids": {
            "type": "array",
            "nullable": false,
            "description": "list of user ids",
            "items": {
              "type": "integer"
            }
          },
          "role": {
            "type": "string",
            "enum": [
              "account_member",
              "account_admin"
            ],
            "nullable": true,
            "description": "The role in the account to assign to the users (if missing, the users will be removed from the account)"
          }
        },
        "additionalProperties": false
      },
      "account_user_batch_remove_from_account": {
        "type": "object",
        "nullable": false,
        "description": "Data for removing a batch of users from the account",
        "required": [
          "ids"
        ],
        "properties": {
          "ids": {
            "type": "array",
            "nullable": false,
            "description": "list of user ids",
            "items": {
              "type": "integer"
            }
          }
        },
        "additionalProperties": false
      },
      "api_key_generate_jwt_input": {
        "type": "object",
        "nullable": false,
        "description": "Input for generating JWT associated to an API token",
        "required": [
          "api_token"
        ],
        "properties": {
          "api_token": {
            "type": "string",
            "nullable": false,
            "description": "API key generated through Fieldwire's web app"
          }
        },
        "additionalProperties": false
      },
      "api_key_generate_jwt_output": {
        "type": "object",
        "nullable": false,
        "description": "Output for generating JWT associated to an API token",
        "required": [
          "access_token"
        ],
        "properties": {
          "access_token": {
            "type": "string",
            "nullable": false,
            "description": "JSON Web Token (JWT) associated to the passed in API key"
          }
        },
        "additionalProperties": false
      },
      "user": {
        "type": "object",
        "description": "General information of a user",
        "required": [
          "id",
          "is_email_deliverable",
          "email",
          "first_name",
          "language",
          "last_name",
          "sync_scheme",
          "created_at",
          "updated_at"
        ],
        "nullable": false,
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "description": "ID of user",
            "nullable": false
          },
          "account_id": {
            "type": "integer",
            "format": "int32",
            "nullable": false,
            "description": "ID of the account this user belongs to"
          },
          "invited_by_id": {
            "type": "integer",
            "format": "int32",
            "nullable": true,
            "description": "ID of the user who invited this user to the platform"
          },
          "is_email_deliverable": {
            "type": "boolean",
            "nullable": false,
            "description": "If email can be delivered to this user"
          },
          "company": {
            "type": "string",
            "nullable": true,
            "description": "Name of the company this user belongs to"
          },
          "company_type": {
            "type": "string",
            "nullable": true,
            "enum": [
              "ARCHITECT_SLASH_DESIGNER",
              "GENERAL_CONTRACTOR",
              "OWNER",
              "SPECIALTY_CONTRACTOR",
              "OTHER",
              null
            ],
            "description": "Type of the company this user belongs to"
          },
          "email": {
            "type": "string",
            "nullable": false,
            "description": "Email of this user"
          },
          "first_name": {
            "type": "string",
            "nullable": false,
            "description": "First name of this user"
          },
          "job_title": {
            "type": "string",
            "nullable": true,
            "description": "Title this user holds at their job"
          },
          "language": {
            "type": "string",
            "nullable": false,
            "description": "Preferred language of this user"
          },
          "last_name": {
            "type": "string",
            "nullable": false,
            "description": "Last name of this user"
          },
          "phone_number": {
            "type": "string",
            "nullable": true,
            "description": "Phone number of this user"
          },
          "photo_url": {
            "type": "string",
            "nullable": true,
            "description": "URL where the profile picture of this user lives"
          },
          "email_notifications": {
            "type": "string",
            "enum": [
              "never",
              "daily",
              "instantly",
              null
            ],
            "nullable": true,
            "description": "Email notification preference of this user for delivering task updates"
          },
          "sync_scheme": {
            "type": "string",
            "enum": [
              "smart_cellular",
              "full_cellular"
            ],
            "nullable": false,
            "description": "Synchronization scheme of this user used by the mobile apps"
          },
          "account_role": {
            "type": "string",
            "enum": [
              "account_member",
              "account_admin"
            ],
            "nullable": false,
            "description": "The role of the user in the account they belong to"
          },
          "email_addresses": {
            "type": "array",
            "deprecated": true,
            "nullable": false,
            "description": "Deprecated. Use the \"email\" property instead",
            "items": {
              "type": "object",
              "nullable": false,
              "description": "Email associated with the user account"
            }
          },
          "is_confirmed": {
            "type": "boolean",
            "nullable": false,
            "description": "Whether the user has accepted the invitation if there was one"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "nullable": false,
            "description": "Time when the server created this user"
          },
          "current_sign_in_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Last time the user was seen online"
          },
          "in_app_purchase_end_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "When the in app purchase this user made ends"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "nullable": false,
            "description": "Time when the server last updated this user"
          },
          "trade_type": {
            "type": "string",
            "nullable": true,
            "enum": [
              "CONCRETE",
              "EARTHWORK",
              "ELECTRICAL",
              "FIRE_SUPPRESSION",
              "FRAMING_AND_OR_DRYWALL",
              "HVAC",
              "LOW_VOLTAGE",
              "MECHANICAL",
              "PLUMBING",
              "UTILITIES",
              "OTHER",
              null
            ],
            "description": "Type of the trade this user's company belongs to"
          }
        },
        "additionalProperties": false
      }
    },
    "securitySchemes": {
      "jwt": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Access token (JWT) generated using the acquired refresh token (API token). Our [authentication](https://developers.fieldwire.com/docs/authentication) guide covers the steps to generate a valid token"
      }
    }
  },
  "paths": {
    "/account": {
      "get": {
        "summary": "Show account information",
        "operationId": "get_account",
        "tags": [
          "accounts"
        ],
        "security": [
          {
            "jwt": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "id": 1,
                  "has_tasks_toggle": false,
                  "has_photo_attachments_toggle": false,
                  "company_address": "456 Red avenue",
                  "company_name": null,
                  "is_3d_bim_enabled": true,
                  "is_submittals_enabled": false,
                  "is_pm_enabled": false,
                  "invoice_city": "San Francisco",
                  "invoice_country": "United States",
                  "invoice_state": "California",
                  "invoice_postal_code": "94080",
                  "invoice_country_iso2": "US",
                  "invoice_email": "0cced9b0-bebb-4db2-b2e0-fdeed215d2ab@factory.com",
                  "invoice_state_iso2": "CA",
                  "has_specs": true,
                  "has_pm": false,
                  "primary_region": "us",
                  "is_change_orders_enabled": false,
                  "has_workato": false,
                  "owner": {
                    "created_at": "2023-10-17T21:04:49.745Z",
                    "updated_at": "2023-10-17T21:04:49.814Z",
                    "email_addresses": [
                      {
                        "email": "0cced9b0-bebb-4db2-b2e0-fdeed215d2ab@factory.com",
                        "is_primary": true
                      }
                    ],
                    "id": 1,
                    "account_id": 1,
                    "company": "Company",
                    "company_type": null,
                    "email": "0cced9b0-bebb-4db2-b2e0-fdeed215d2ab@factory.com",
                    "first_name": "John",
                    "invited_by_id": null,
                    "is_confirmed": true,
                    "is_email_deliverable": true,
                    "job_title": null,
                    "language": "en",
                    "last_name": "Doe",
                    "phone_number": null,
                    "photo_url": null,
                    "trade_type": null,
                    "current_sign_in_at": "2023-10-17T21:04:49.742Z",
                    "in_app_purchase_end_at": null,
                    "account_role": "account_admin",
                    "email_notifications": "instantly",
                    "sync_scheme": "smart_cellular"
                  }
                },
                "schema": {
                  "type": "object",
                  "nullable": false,
                  "description": "Information about the account & its owner",
                  "required": [
                    "id"
                  ],
                  "additionalProperties": true,
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "nullable": false,
                      "description": "ID of the entity"
                    },
                    "company_address": {
                      "type": "string",
                      "nullable": true,
                      "description": "Address of the company"
                    },
                    "company_name": {
                      "type": "string",
                      "nullable": true,
                      "description": "Name of the company"
                    },
                    "has_photo_attachments_toggle": {
                      "type": "boolean",
                      "nullable": true,
                      "description": "Whether photo attachments can be turned on & off"
                    },
                    "has_tasks_toggle": {
                      "type": "boolean",
                      "nullable": true,
                      "description": "Whether tasks can be turned on & off"
                    },
                    "is_3d_bim_enabled": {
                      "type": "boolean",
                      "nullable": true,
                      "description": "Whether BIM is enabled"
                    },
                    "is_submittals_enabled": {
                      "type": "boolean",
                      "nullable": true,
                      "description": "Whether Submittal module is enabled"
                    },
                    "is_change_orders_enabled": {
                      "type": "boolean",
                      "nullable": true,
                      "description": "Whether Change Orders module is enabled"
                    },
                    "is_pm_enabled": {
                      "type": "boolean",
                      "nullable": true,
                      "description": "Whether RFI module is enabled"
                    },
                    "has_pm": {
                      "type": "boolean",
                      "nullable": true,
                      "description": "Whether any PM module is enabled"
                    },
                    "has_specs": {
                      "type": "boolean",
                      "nullable": true,
                      "description": "Whether specs module is enabled"
                    },
                    "invoice_email": {
                      "type": "string",
                      "nullable": true,
                      "description": "Email to send the invoice to"
                    },
                    "owner": {
                      "type": "object",
                      "description": "General information of a user",
                      "required": [
                        "id",
                        "is_email_deliverable",
                        "email",
                        "first_name",
                        "language",
                        "last_name",
                        "sync_scheme",
                        "created_at",
                        "updated_at"
                      ],
                      "nullable": false,
                      "properties": {
                        "id": {
                          "type": "integer",
                          "format": "int32",
                          "description": "ID of user",
                          "nullable": false
                        },
                        "account_id": {
                          "type": "integer",
                          "format": "int32",
                          "nullable": false,
                          "description": "ID of the account this user belongs to"
                        },
                        "invited_by_id": {
                          "type": "integer",
                          "format": "int32",
                          "nullable": true,
                          "description": "ID of the user who invited this user to the platform"
                        },
                        "is_email_deliverable": {
                          "type": "boolean",
                          "nullable": false,
                          "description": "If email can be delivered to this user"
                        },
                        "company": {
                          "type": "string",
                          "nullable": true,
                          "description": "Name of the company this user belongs to"
                        },
                        "company_type": {
                          "type": "string",
                          "nullable": true,
                          "enum": [
                            "ARCHITECT_SLASH_DESIGNER",
                            "GENERAL_CONTRACTOR",
                            "OWNER",
                            "SPECIALTY_CONTRACTOR",
                            "OTHER",
                            null
                          ],
                          "description": "Type of the company this user belongs to"
                        },
                        "email": {
                          "type": "string",
                          "nullable": false,
                          "description": "Email of this user"
                        },
                        "first_name": {
                          "type": "string",
                          "nullable": false,
                          "description": "First name of this user"
                        },
                        "job_title": {
                          "type": "string",
                          "nullable": true,
                          "description": "Title this user holds at their job"
                        },
                        "language": {
                          "type": "string",
                          "nullable": false,
                          "description": "Preferred language of this user"
                        },
                        "last_name": {
                          "type": "string",
                          "nullable": false,
                          "description": "Last name of this user"
                        },
                        "phone_number": {
                          "type": "string",
                          "nullable": true,
                          "description": "Phone number of this user"
                        },
                        "photo_url": {
                          "type": "string",
                          "nullable": true,
                          "description": "URL where the profile picture of this user lives"
                        },
                        "email_notifications": {
                          "type": "string",
                          "enum": [
                            "never",
                            "daily",
                            "instantly",
                            null
                          ],
                          "nullable": true,
                          "description": "Email notification preference of this user for delivering task updates"
                        },
                        "sync_scheme": {
                          "type": "string",
                          "enum": [
                            "smart_cellular",
                            "full_cellular"
                          ],
                          "nullable": false,
                          "description": "Synchronization scheme of this user used by the mobile apps"
                        },
                        "account_role": {
                          "type": "string",
                          "enum": [
                            "account_member",
                            "account_admin"
                          ],
                          "nullable": false,
                          "description": "The role of the user in the account they belong to"
                        },
                        "email_addresses": {
                          "type": "array",
                          "deprecated": true,
                          "nullable": false,
                          "description": "Deprecated. Use the \"email\" property instead",
                          "items": {
                            "type": "object",
                            "nullable": false,
                            "description": "Email associated with the user account"
                          }
                        },
                        "is_confirmed": {
                          "type": "boolean",
                          "nullable": false,
                          "description": "Whether the user has accepted the invitation if there was one"
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": false,
                          "description": "Time when the server created this user"
                        },
                        "current_sign_in_at": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true,
                          "description": "Last time the user was seen online"
                        },
                        "in_app_purchase_end_at": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true,
                          "description": "When the in app purchase this user made ends"
                        },
                        "updated_at": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": false,
                          "description": "Time when the server last updated this user"
                        },
                        "trade_type": {
                          "type": "string",
                          "nullable": true,
                          "enum": [
                            "CONCRETE",
                            "EARTHWORK",
                            "ELECTRICAL",
                            "FIRE_SUPPRESSION",
                            "FRAMING_AND_OR_DRYWALL",
                            "HVAC",
                            "LOW_VOLTAGE",
                            "MECHANICAL",
                            "PLUMBING",
                            "UTILITIES",
                            "OTHER",
                            null
                          ],
                          "description": "Type of the trade this user's company belongs to"
                        }
                      },
                      "additionalProperties": false
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update an account",
        "operationId": "update_account",
        "tags": [
          "accounts"
        ],
        "security": [
          {
            "jwt": []
          }
        ],
        "parameters": [],
        "responses": {
          "201": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "id": 3,
                  "has_tasks_toggle": false,
                  "has_photo_attachments_toggle": false,
                  "company_address": "new_company_address",
                  "company_name": null,
                  "is_3d_bim_enabled": true,
                  "is_submittals_enabled": false,
                  "is_pm_enabled": false,
                  "invoice_city": "San Francisco",
                  "invoice_country": "United States",
                  "invoice_state": "California",
                  "invoice_postal_code": "94080",
                  "invoice_country_iso2": "US",
                  "invoice_email": "new_invoice_email@example.com",
                  "invoice_state_iso2": "CA",
                  "has_specs": true,
                  "has_pm": false,
                  "primary_region": "us",
                  "is_change_orders_enabled": false,
                  "has_workato": false,
                  "owner": {
                    "created_at": "2023-10-17T21:04:50.193Z",
                    "updated_at": "2023-10-17T21:04:50.195Z",
                    "email_addresses": [
                      {
                        "email": "99b77b2c-27fc-4a88-ae6b-a697e3bc41a9@factory.com",
                        "is_primary": true
                      }
                    ],
                    "id": 5,
                    "account_id": 3,
                    "company": "Company",
                    "company_type": null,
                    "email": "99b77b2c-27fc-4a88-ae6b-a697e3bc41a9@factory.com",
                    "first_name": "John",
                    "invited_by_id": null,
                    "is_confirmed": true,
                    "is_email_deliverable": true,
                    "job_title": null,
                    "language": "en",
                    "last_name": "Doe",
                    "phone_number": null,
                    "photo_url": null,
                    "trade_type": null,
                    "current_sign_in_at": "2023-10-17T21:04:50.192Z",
                    "in_app_purchase_end_at": null,
                    "account_role": "account_admin",
                    "email_notifications": "instantly",
                    "sync_scheme": "smart_cellular"
                  }
                },
                "schema": {
                  "type": "object",
                  "nullable": false,
                  "description": "Information about the account & its owner",
                  "required": [
                    "id"
                  ],
                  "additionalProperties": true,
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "nullable": false,
                      "description": "ID of the entity"
                    },
                    "company_address": {
                      "type": "string",
                      "nullable": true,
                      "description": "Address of the company"
                    },
                    "company_name": {
                      "type": "string",
                      "nullable": true,
                      "description": "Name of the company"
                    },
                    "has_photo_attachments_toggle": {
                      "type": "boolean",
                      "nullable": true,
                      "description": "Whether photo attachments can be turned on & off"
                    },
                    "has_tasks_toggle": {
                      "type": "boolean",
                      "nullable": true,
                      "description": "Whether tasks can be turned on & off"
                    },
                    "is_3d_bim_enabled": {
                      "type": "boolean",
                      "nullable": true,
                      "description": "Whether BIM is enabled"
                    },
                    "is_submittals_enabled": {
                      "type": "boolean",
                      "nullable": true,
                      "description": "Whether Submittal module is enabled"
                    },
                    "is_change_orders_enabled": {
                      "type": "boolean",
                      "nullable": true,
                      "description": "Whether Change Orders module is enabled"
                    },
                    "is_pm_enabled": {
                      "type": "boolean",
                      "nullable": true,
                      "description": "Whether RFI module is enabled"
                    },
                    "has_pm": {
                      "type": "boolean",
                      "nullable": true,
                      "description": "Whether any PM module is enabled"
                    },
                    "has_specs": {
                      "type": "boolean",
                      "nullable": true,
                      "description": "Whether specs module is enabled"
                    },
                    "invoice_email": {
                      "type": "string",
                      "nullable": true,
                      "description": "Email to send the invoice to"
                    },
                    "owner": {
                      "type": "object",
                      "description": "General information of a user",
                      "required": [
                        "id",
                        "is_email_deliverable",
                        "email",
                        "first_name",
                        "language",
                        "last_name",
                        "sync_scheme",
                        "created_at",
                        "updated_at"
                      ],
                      "nullable": false,
                      "properties": {
                        "id": {
                          "type": "integer",
                          "format": "int32",
                          "description": "ID of user",
                          "nullable": false
                        },
                        "account_id": {
                          "type": "integer",
                          "format": "int32",
                          "nullable": false,
                          "description": "ID of the account this user belongs to"
                        },
                        "invited_by_id": {
                          "type": "integer",
                          "format": "int32",
                          "nullable": true,
                          "description": "ID of the user who invited this user to the platform"
                        },
                        "is_email_deliverable": {
                          "type": "boolean",
                          "nullable": false,
                          "description": "If email can be delivered to this user"
                        },
                        "company": {
                          "type": "string",
                          "nullable": true,
                          "description": "Name of the company this user belongs to"
                        },
                        "company_type": {
                          "type": "string",
                          "nullable": true,
                          "enum": [
                            "ARCHITECT_SLASH_DESIGNER",
                            "GENERAL_CONTRACTOR",
                            "OWNER",
                            "SPECIALTY_CONTRACTOR",
                            "OTHER",
                            null
                          ],
                          "description": "Type of the company this user belongs to"
                        },
                        "email": {
                          "type": "string",
                          "nullable": false,
                          "description": "Email of this user"
                        },
                        "first_name": {
                          "type": "string",
                          "nullable": false,
                          "description": "First name of this user"
                        },
                        "job_title": {
                          "type": "string",
                          "nullable": true,
                          "description": "Title this user holds at their job"
                        },
                        "language": {
                          "type": "string",
                          "nullable": false,
                          "description": "Preferred language of this user"
                        },
                        "last_name": {
                          "type": "string",
                          "nullable": false,
                          "description": "Last name of this user"
                        },
                        "phone_number": {
                          "type": "string",
                          "nullable": true,
                          "description": "Phone number of this user"
                        },
                        "photo_url": {
                          "type": "string",
                          "nullable": true,
                          "description": "URL where the profile picture of this user lives"
                        },
                        "email_notifications": {
                          "type": "string",
                          "enum": [
                            "never",
                            "daily",
                            "instantly",
                            null
                          ],
                          "nullable": true,
                          "description": "Email notification preference of this user for delivering task updates"
                        },
                        "sync_scheme": {
                          "type": "string",
                          "enum": [
                            "smart_cellular",
                            "full_cellular"
                          ],
                          "nullable": false,
                          "description": "Synchronization scheme of this user used by the mobile apps"
                        },
                        "account_role": {
                          "type": "string",
                          "enum": [
                            "account_member",
                            "account_admin"
                          ],
                          "nullable": false,
                          "description": "The role of the user in the account they belong to"
                        },
                        "email_addresses": {
                          "type": "array",
                          "deprecated": true,
                          "nullable": false,
                          "description": "Deprecated. Use the \"email\" property instead",
                          "items": {
                            "type": "object",
                            "nullable": false,
                            "description": "Email associated with the user account"
                          }
                        },
                        "is_confirmed": {
                          "type": "boolean",
                          "nullable": false,
                          "description": "Whether the user has accepted the invitation if there was one"
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": false,
                          "description": "Time when the server created this user"
                        },
                        "current_sign_in_at": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true,
                          "description": "Last time the user was seen online"
                        },
                        "in_app_purchase_end_at": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true,
                          "description": "When the in app purchase this user made ends"
                        },
                        "updated_at": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": false,
                          "description": "Time when the server last updated this user"
                        },
                        "trade_type": {
                          "type": "string",
                          "nullable": true,
                          "enum": [
                            "CONCRETE",
                            "EARTHWORK",
                            "ELECTRICAL",
                            "FIRE_SUPPRESSION",
                            "FRAMING_AND_OR_DRYWALL",
                            "HVAC",
                            "LOW_VOLTAGE",
                            "MECHANICAL",
                            "PLUMBING",
                            "UTILITIES",
                            "OTHER",
                            null
                          ],
                          "description": "Type of the trade this user's company belongs to"
                        }
                      },
                      "additionalProperties": false
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "nullable": false,
                "description": "Information about the account to be updated",
                "properties": {
                  "account": {
                    "type": "object",
                    "nullable": false,
                    "properties": {
                      "company_address": {
                        "type": "string",
                        "nullable": true,
                        "description": "Address of the company"
                      },
                      "company_name": {
                        "type": "string",
                        "nullable": true,
                        "description": "Name of the company"
                      },
                      "invoice_email": {
                        "type": "string",
                        "nullable": true,
                        "description": "Email to send the invoice to"
                      },
                      "owner_user_id": {
                        "type": "integer",
                        "format": "int32",
                        "nullable": false,
                        "description": "ID of the user"
                      }
                    },
                    "description": "Information about the account to be updated",
                    "additionalProperties": false
                  }
                },
                "additionalProperties": false
              }
            }
          },
          "required": true
        }
      }
    },
    "/account/users": {
      "get": {
        "summary": "Show all users for an account",
        "operationId": "get_users_in_account",
        "tags": [
          "account users"
        ],
        "description": "Gets all the Users on your Account plus Users invited to Projects on your Account. \n\nThe API also returns the count of projects they are in. Does not include Sample Projects. Does not include people who are on other paying accounts. Essentially these are the people you are paying for. \n\n```json\n[\n  {\n    \"user\": {\n      \"created_at\": \"2019-10-15T19:49:01.802Z\",\n      \"updated_at\": \"2021-03-12T22:29:06.467Z\",\n      \"email_addresses\": [\n        {\n          \"email\": \"owner@construction.com\",\n          \"is_primary\": true\n        }\n      ],\n      \"id\": 2141,\n      \"account_id\": 2153,\n      \"company\": \"Construction.com\",\n      \"company_type\": null,\n      \"email\": \"owner@construction.com\",\n      \"first_name\": \"Owner\",\n      \"in_app_purchase_end_at\": null,\n      \"invited_by_id\": 18,\n      \"is_confirmed\": true,\n      \"is_email_deliverable\": true,\n      \"job_title\": \"Owner\",\n      \"language\": \"en\",\n      \"last_name\": \"Name\",\n      \"phone_number\": \"3343434343\",\n      \"photo_url\": \"https://s3.amazonaws.com/photo.png\",\n      \"current_sign_in_at\": \"2021-03-12T22:29:06.454Z\",\n      \"account_role\": \"account_admin\",\n      \"email_notifications\": \"instantly\",\n      \"sync_scheme\": \"smart_cellular\"\n    },\n    \"projects\": 165\n  },\n  {\n    \"user\": {\n      \"created_at\": \"2020-03-26T17:31:26.160Z\",\n      \"updated_at\": \"2021-02-05T00:58:45.944Z\",\n      \"email_addresses\": [\n        {\n          \"email\": \"member@construction.com\",\n          \"is_primary\": true\n        }\n      ],\n      \"id\": 2823,\n      \"account_id\": 2153,\n      \"company\": \"Construction.com\",\n      \"company_type\": null,\n      \"email\": \"member@construction.com\",\n      \"first_name\": \"Heather\",\n      \"in_app_purchase_end_at\": null,\n      \"invited_by_id\": 2813,\n      \"is_confirmed\": true,\n      \"is_email_deliverable\": true,\n      \"job_title\": null,\n      \"language\": \"en\",\n      \"last_name\": \"0326a\",\n      \"phone_number\": \"555 555 5555\",\n      \"photo_url\": null,\n      \"current_sign_in_at\": \"2020-04-21T00:23:01.537Z\",\n      \"account_role\": \"account_member\",\n      \"email_notifications\": \"instantly\",\n      \"sync_scheme\": \"smart_cellular\"\n    },\n    \"projects\": 3\n  },\n  {\n    \"user\": {\n        \"created_at\": \"2021-03-10T01:59:44.961Z\",\n        \"updated_at\": \"2021-03-10T02:02:24.694Z\",\n        \"email_addresses\": [{\n            \"email\": \"bob@acme.com\",\n            \"is_primary\": true\n        }],\n        \"id\": 74312,\n        \"account_id\": 74333,\n        \"company\": null,\n        \"company_type\": null,\n        \"email\": \"bob@acme.com\",\n        \"first_name\": \"Bob\",\n        \"in_app_purchase_end_at\": null,\n        \"invited_by_id\": 2141,\n        \"is_confirmed\": true,\n        \"is_email_deliverable\": true,\n        \"job_title\": null,\n        \"language\": \"en\",\n        \"last_name\": \"030921a\",\n        \"phone_number\": null,\n        \"photo_url\": null,\n        \"current_sign_in_at\": \"2021-03-10T02:02:24.203Z\",\n        \"account_role\": \"account_admin\",\n        \"email_notifications\": \"instantly\",\n        \"sync_scheme\": \"smart_cellular\"\n    },\n    \"projects\": 1\n  }\n]\n```\n\nThis endpoint drives the [People Tab](https://app.fieldwire.com/#!/index/people). More information about [Account Managers vs. Account Users vs. Project Users can be found here](https://help.fieldwire.com/hc/en-us/articles/115000637206).\n",
        "security": [
          {
            "jwt": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": [
                  {
                    "user": {
                      "created_at": "2023-10-17T21:04:50.423Z",
                      "updated_at": "2023-10-17T21:04:50.431Z",
                      "email_addresses": [
                        {
                          "email": "0acdcfcc-beb5-482c-8f6b-76c4e5f9c03a@factory.com",
                          "is_primary": true
                        }
                      ],
                      "id": 6,
                      "account_id": 5,
                      "company": "Company",
                      "company_type": null,
                      "email": "0acdcfcc-beb5-482c-8f6b-76c4e5f9c03a@factory.com",
                      "first_name": "John",
                      "invited_by_id": null,
                      "is_confirmed": true,
                      "is_email_deliverable": true,
                      "job_title": null,
                      "language": "en",
                      "last_name": "Doe",
                      "phone_number": null,
                      "photo_url": null,
                      "trade_type": null,
                      "current_sign_in_at": "2023-10-17T21:04:50.421Z",
                      "in_app_purchase_end_at": null,
                      "account_role": "account_admin",
                      "email_notifications": "instantly",
                      "sync_scheme": "smart_cellular"
                    },
                    "projects": 1
                  },
                  {
                    "user": {
                      "created_at": "2023-10-17T21:04:50.483Z",
                      "updated_at": "2023-10-17T21:04:50.484Z",
                      "email_addresses": [
                        {
                          "email": "d21eb7fa-ce5a-43a1-8c70-d74f7b3c20aa@factory.com",
                          "is_primary": true
                        }
                      ],
                      "id": 8,
                      "account_id": 5,
                      "company": "Company",
                      "company_type": null,
                      "email": "d21eb7fa-ce5a-43a1-8c70-d74f7b3c20aa@factory.com",
                      "first_name": "John",
                      "invited_by_id": null,
                      "is_confirmed": true,
                      "is_email_deliverable": true,
                      "job_title": null,
                      "language": "en",
                      "last_name": "Doe",
                      "phone_number": null,
                      "photo_url": null,
                      "trade_type": null,
                      "current_sign_in_at": "2023-10-17T21:04:50.482Z",
                      "in_app_purchase_end_at": null,
                      "account_role": "account_admin",
                      "email_notifications": "instantly",
                      "sync_scheme": "smart_cellular"
                    },
                    "projects": 1
                  },
                  {
                    "user": {
                      "created_at": "2023-10-17T21:04:50.568Z",
                      "updated_at": "2023-10-17T21:04:50.574Z",
                      "email_addresses": [
                        {
                          "email": "670cb322-3b51-4f7b-89e9-c4c0ccc6c2c3@factory.com",
                          "is_primary": true
                        }
                      ],
                      "id": 9,
                      "account_id": 7,
                      "company": "Company",
                      "company_type": null,
                      "email": "670cb322-3b51-4f7b-89e9-c4c0ccc6c2c3@factory.com",
                      "first_name": "John",
                      "invited_by_id": null,
                      "is_confirmed": true,
                      "is_email_deliverable": true,
                      "job_title": null,
                      "language": "en",
                      "last_name": "Doe",
                      "phone_number": null,
                      "photo_url": null,
                      "trade_type": null,
                      "current_sign_in_at": "2023-10-17T21:04:50.566Z",
                      "in_app_purchase_end_at": null,
                      "account_role": "account_admin",
                      "email_notifications": "instantly",
                      "sync_scheme": "smart_cellular"
                    },
                    "projects": 1
                  },
                  {
                    "user": {
                      "created_at": "2023-10-17T21:04:50.593Z",
                      "updated_at": "2023-10-17T21:04:50.599Z",
                      "email_addresses": [
                        {
                          "email": "67f9ce8e-0da5-4e7d-8813-c3f265ccba7f@factory.com",
                          "is_primary": true
                        }
                      ],
                      "id": 10,
                      "account_id": 8,
                      "company": "Company",
                      "company_type": null,
                      "email": "67f9ce8e-0da5-4e7d-8813-c3f265ccba7f@factory.com",
                      "first_name": "John",
                      "invited_by_id": null,
                      "is_confirmed": true,
                      "is_email_deliverable": true,
                      "job_title": null,
                      "language": "en",
                      "last_name": "Doe",
                      "phone_number": null,
                      "photo_url": null,
                      "trade_type": null,
                      "current_sign_in_at": "2023-10-17T21:04:50.592Z",
                      "in_app_purchase_end_at": null,
                      "account_role": "account_admin",
                      "email_notifications": "instantly",
                      "sync_scheme": "smart_cellular"
                    },
                    "projects": 1
                  }
                ],
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "nullable": false,
                    "description": "General info for user in an account with count of account projects involved in",
                    "required": [
                      "user",
                      "projects"
                    ],
                    "properties": {
                      "user": {
                        "type": "object",
                        "description": "General information of a user",
                        "required": [
                          "id",
                          "is_email_deliverable",
                          "email",
                          "first_name",
                          "language",
                          "last_name",
                          "sync_scheme",
                          "created_at",
                          "updated_at"
                        ],
                        "nullable": false,
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "ID of user",
                            "nullable": false
                          },
                          "account_id": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": false,
                            "description": "ID of the account this user belongs to"
                          },
                          "invited_by_id": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true,
                            "description": "ID of the user who invited this user to the platform"
                          },
                          "is_email_deliverable": {
                            "type": "boolean",
                            "nullable": false,
                            "description": "If email can be delivered to this user"
                          },
                          "company": {
                            "type": "string",
                            "nullable": true,
                            "description": "Name of the company this user belongs to"
                          },
                          "company_type": {
                            "type": "string",
                            "nullable": true,
                            "enum": [
                              "ARCHITECT_SLASH_DESIGNER",
                              "GENERAL_CONTRACTOR",
                              "OWNER",
                              "SPECIALTY_CONTRACTOR",
                              "OTHER",
                              null
                            ],
                            "description": "Type of the company this user belongs to"
                          },
                          "email": {
                            "type": "string",
                            "nullable": false,
                            "description": "Email of this user"
                          },
                          "first_name": {
                            "type": "string",
                            "nullable": false,
                            "description": "First name of this user"
                          },
                          "job_title": {
                            "type": "string",
                            "nullable": true,
                            "description": "Title this user holds at their job"
                          },
                          "language": {
                            "type": "string",
                            "nullable": false,
                            "description": "Preferred language of this user"
                          },
                          "last_name": {
                            "type": "string",
                            "nullable": false,
                            "description": "Last name of this user"
                          },
                          "phone_number": {
                            "type": "string",
                            "nullable": true,
                            "description": "Phone number of this user"
                          },
                          "photo_url": {
                            "type": "string",
                            "nullable": true,
                            "description": "URL where the profile picture of this user lives"
                          },
                          "email_notifications": {
                            "type": "string",
                            "enum": [
                              "never",
                              "daily",
                              "instantly",
                              null
                            ],
                            "nullable": true,
                            "description": "Email notification preference of this user for delivering task updates"
                          },
                          "sync_scheme": {
                            "type": "string",
                            "enum": [
                              "smart_cellular",
                              "full_cellular"
                            ],
                            "nullable": false,
                            "description": "Synchronization scheme of this user used by the mobile apps"
                          },
                          "account_role": {
                            "type": "string",
                            "enum": [
                              "account_member",
                              "account_admin"
                            ],
                            "nullable": false,
                            "description": "The role of the user in the account they belong to"
                          },
                          "email_addresses": {
                            "type": "array",
                            "deprecated": true,
                            "nullable": false,
                            "description": "Deprecated. Use the \"email\" property instead",
                            "items": {
                              "type": "object",
                              "nullable": false,
                              "description": "Email associated with the user account"
                            }
                          },
                          "is_confirmed": {
                            "type": "boolean",
                            "nullable": false,
                            "description": "Whether the user has accepted the invitation if there was one"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": false,
                            "description": "Time when the server created this user"
                          },
                          "current_sign_in_at": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true,
                            "description": "Last time the user was seen online"
                          },
                          "in_app_purchase_end_at": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true,
                            "description": "When the in app purchase this user made ends"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": false,
                            "description": "Time when the server last updated this user"
                          },
                          "trade_type": {
                            "type": "string",
                            "nullable": true,
                            "enum": [
                              "CONCRETE",
                              "EARTHWORK",
                              "ELECTRICAL",
                              "FIRE_SUPPRESSION",
                              "FRAMING_AND_OR_DRYWALL",
                              "HVAC",
                              "LOW_VOLTAGE",
                              "MECHANICAL",
                              "PLUMBING",
                              "UTILITIES",
                              "OTHER",
                              null
                            ],
                            "description": "Type of the trade this user's company belongs to"
                          }
                        },
                        "additionalProperties": false
                      },
                      "projects": {
                        "type": "integer",
                        "description": "Number of projects in this account this user is a part of",
                        "nullable": false
                      }
                    },
                    "additionalProperties": false
                  }
                }
              }
            }
          }
        }
      }
    },
    "/account/users/{id}": {
      "get": {
        "summary": "Get user by ID",
        "operationId": "get_user_by_id",
        "tags": [
          "account users"
        ],
        "description": "Gets a user on your account by Id. The API also returns the count of projects that user is in.\n\n```json\n\n{\n  \"user\": {\n    \"created_at\": \"2019-10-15T19:49:01.802Z\",\n    \"updated_at\": \"2021-03-12T22:29:06.467Z\",\n    \"email_addresses\": [\n      {\n        \"email\": \"owner@construction.com\",\n        \"is_primary\": true\n      }\n    ],\n    \"id\": 2141,\n    \"account_id\": 2153,\n    \"company\": \"Construction.com\",\n    \"company_type\": null,\n    \"email\": \"owner@construction.com\",\n    \"first_name\": \"Owner\",\n    \"in_app_purchase_end_at\": null,\n    \"invited_by_id\": 18,\n    \"is_confirmed\": true,\n    \"is_email_deliverable\": true,\n    \"job_title\": \"Owner\",\n    \"language\": \"en\",\n    \"last_name\": \"Name\",\n    \"phone_number\": \"3343434343\",\n    \"photo_url\": \"https://s3.amazonaws.com/photo.png\",\n    \"current_sign_in_at\": \"2021-03-12T22:29:06.454Z\",\n    \"account_role\": \"account_admin\",\n    \"email_notifications\": \"instantly\",\n    \"sync_scheme\": \"smart_cellular\"\n  },\n  \"projects\": 165\n}\n\n```",
        "security": [
          {
            "jwt": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the entity",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "user": {
                    "created_at": "2023-10-17T21:04:50.722Z",
                    "updated_at": "2023-10-17T21:04:50.723Z",
                    "email_addresses": [
                      {
                        "email": "9df9f793-f3ee-4eca-bdfe-c31cabbc6675@factory.com",
                        "is_primary": true
                      }
                    ],
                    "id": 13,
                    "account_id": 9,
                    "company": "Company",
                    "company_type": null,
                    "email": "9df9f793-f3ee-4eca-bdfe-c31cabbc6675@factory.com",
                    "first_name": "John",
                    "invited_by_id": null,
                    "is_confirmed": true,
                    "is_email_deliverable": true,
                    "job_title": null,
                    "language": "en",
                    "last_name": "Doe",
                    "phone_number": null,
                    "photo_url": null,
                    "trade_type": null,
                    "current_sign_in_at": "2023-10-17T21:04:50.721Z",
                    "in_app_purchase_end_at": null,
                    "account_role": "account_admin",
                    "email_notifications": "instantly",
                    "sync_scheme": "smart_cellular"
                  },
                  "projects": 1
                },
                "schema": {
                  "type": "object",
                  "nullable": false,
                  "description": "General info for user in an account with count of account projects involved in",
                  "required": [
                    "user",
                    "projects"
                  ],
                  "properties": {
                    "user": {
                      "type": "object",
                      "description": "General information of a user",
                      "required": [
                        "id",
                        "is_email_deliverable",
                        "email",
                        "first_name",
                        "language",
                        "last_name",
                        "sync_scheme",
                        "created_at",
                        "updated_at"
                      ],
                      "nullable": false,
                      "properties": {
                        "id": {
                          "type": "integer",
                          "format": "int32",
                          "description": "ID of user",
                          "nullable": false
                        },
                        "account_id": {
                          "type": "integer",
                          "format": "int32",
                          "nullable": false,
                          "description": "ID of the account this user belongs to"
                        },
                        "invited_by_id": {
                          "type": "integer",
                          "format": "int32",
                          "nullable": true,
                          "description": "ID of the user who invited this user to the platform"
                        },
                        "is_email_deliverable": {
                          "type": "boolean",
                          "nullable": false,
                          "description": "If email can be delivered to this user"
                        },
                        "company": {
                          "type": "string",
                          "nullable": true,
                          "description": "Name of the company this user belongs to"
                        },
                        "company_type": {
                          "type": "string",
                          "nullable": true,
                          "enum": [
                            "ARCHITECT_SLASH_DESIGNER",
                            "GENERAL_CONTRACTOR",
                            "OWNER",
                            "SPECIALTY_CONTRACTOR",
                            "OTHER",
                            null
                          ],
                          "description": "Type of the company this user belongs to"
                        },
                        "email": {
                          "type": "string",
                          "nullable": false,
                          "description": "Email of this user"
                        },
                        "first_name": {
                          "type": "string",
                          "nullable": false,
                          "description": "First name of this user"
                        },
                        "job_title": {
                          "type": "string",
                          "nullable": true,
                          "description": "Title this user holds at their job"
                        },
                        "language": {
                          "type": "string",
                          "nullable": false,
                          "description": "Preferred language of this user"
                        },
                        "last_name": {
                          "type": "string",
                          "nullable": false,
                          "description": "Last name of this user"
                        },
                        "phone_number": {
                          "type": "string",
                          "nullable": true,
                          "description": "Phone number of this user"
                        },
                        "photo_url": {
                          "type": "string",
                          "nullable": true,
                          "description": "URL where the profile picture of this user lives"
                        },
                        "email_notifications": {
                          "type": "string",
                          "enum": [
                            "never",
                            "daily",
                            "instantly",
                            null
                          ],
                          "nullable": true,
                          "description": "Email notification preference of this user for delivering task updates"
                        },
                        "sync_scheme": {
                          "type": "string",
                          "enum": [
                            "smart_cellular",
                            "full_cellular"
                          ],
                          "nullable": false,
                          "description": "Synchronization scheme of this user used by the mobile apps"
                        },
                        "account_role": {
                          "type": "string",
                          "enum": [
                            "account_member",
                            "account_admin"
                          ],
                          "nullable": false,
                          "description": "The role of the user in the account they belong to"
                        },
                        "email_addresses": {
                          "type": "array",
                          "deprecated": true,
                          "nullable": false,
                          "description": "Deprecated. Use the \"email\" property instead",
                          "items": {
                            "type": "object",
                            "nullable": false,
                            "description": "Email associated with the user account"
                          }
                        },
                        "is_confirmed": {
                          "type": "boolean",
                          "nullable": false,
                          "description": "Whether the user has accepted the invitation if there was one"
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": false,
                          "description": "Time when the server created this user"
                        },
                        "current_sign_in_at": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true,
                          "description": "Last time the user was seen online"
                        },
                        "in_app_purchase_end_at": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true,
                          "description": "When the in app purchase this user made ends"
                        },
                        "updated_at": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": false,
                          "description": "Time when the server last updated this user"
                        },
                        "trade_type": {
                          "type": "string",
                          "nullable": true,
                          "enum": [
                            "CONCRETE",
                            "EARTHWORK",
                            "ELECTRICAL",
                            "FIRE_SUPPRESSION",
                            "FRAMING_AND_OR_DRYWALL",
                            "HVAC",
                            "LOW_VOLTAGE",
                            "MECHANICAL",
                            "PLUMBING",
                            "UTILITIES",
                            "OTHER",
                            null
                          ],
                          "description": "Type of the trade this user's company belongs to"
                        }
                      },
                      "additionalProperties": false
                    },
                    "projects": {
                      "type": "integer",
                      "description": "Number of projects in this account this user is a part of",
                      "nullable": false
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update the account info for a user",
        "operationId": "update_account_info_for_user",
        "tags": [
          "account users"
        ],
        "security": [
          {
            "jwt": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the entity",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "created_at": "2023-10-17T21:04:50.936Z",
                  "updated_at": "2023-10-17T21:04:50.978Z",
                  "email_addresses": [
                    {
                      "email": "9350f93a-848a-4c7e-a981-fa7f4f834e14@factory.com",
                      "is_primary": true
                    }
                  ],
                  "id": 18,
                  "account_id": 13,
                  "company": "Company",
                  "company_type": null,
                  "email": "9350f93a-848a-4c7e-a981-fa7f4f834e14@factory.com",
                  "first_name": "John",
                  "invited_by_id": null,
                  "is_confirmed": true,
                  "is_email_deliverable": true,
                  "job_title": null,
                  "language": "en",
                  "last_name": "Doe",
                  "phone_number": null,
                  "photo_url": null,
                  "trade_type": null,
                  "current_sign_in_at": "2023-10-17T21:04:50.935Z",
                  "in_app_purchase_end_at": null,
                  "account_role": "account_member",
                  "email_notifications": "instantly",
                  "sync_scheme": "smart_cellular"
                },
                "schema": {
                  "type": "object",
                  "description": "General information of a user",
                  "required": [
                    "id",
                    "is_email_deliverable",
                    "email",
                    "first_name",
                    "language",
                    "last_name",
                    "sync_scheme",
                    "created_at",
                    "updated_at"
                  ],
                  "nullable": false,
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "ID of user",
                      "nullable": false
                    },
                    "account_id": {
                      "type": "integer",
                      "format": "int32",
                      "nullable": false,
                      "description": "ID of the account this user belongs to"
                    },
                    "invited_by_id": {
                      "type": "integer",
                      "format": "int32",
                      "nullable": true,
                      "description": "ID of the user who invited this user to the platform"
                    },
                    "is_email_deliverable": {
                      "type": "boolean",
                      "nullable": false,
                      "description": "If email can be delivered to this user"
                    },
                    "company": {
                      "type": "string",
                      "nullable": true,
                      "description": "Name of the company this user belongs to"
                    },
                    "company_type": {
                      "type": "string",
                      "nullable": true,
                      "enum": [
                        "ARCHITECT_SLASH_DESIGNER",
                        "GENERAL_CONTRACTOR",
                        "OWNER",
                        "SPECIALTY_CONTRACTOR",
                        "OTHER",
                        null
                      ],
                      "description": "Type of the company this user belongs to"
                    },
                    "email": {
                      "type": "string",
                      "nullable": false,
                      "description": "Email of this user"
                    },
                    "first_name": {
                      "type": "string",
                      "nullable": false,
                      "description": "First name of this user"
                    },
                    "job_title": {
                      "type": "string",
                      "nullable": true,
                      "description": "Title this user holds at their job"
                    },
                    "language": {
                      "type": "string",
                      "nullable": false,
                      "description": "Preferred language of this user"
                    },
                    "last_name": {
                      "type": "string",
                      "nullable": false,
                      "description": "Last name of this user"
                    },
                    "phone_number": {
                      "type": "string",
                      "nullable": true,
                      "description": "Phone number of this user"
                    },
                    "photo_url": {
                      "type": "string",
                      "nullable": true,
                      "description": "URL where the profile picture of this user lives"
                    },
                    "email_notifications": {
                      "type": "string",
                      "enum": [
                        "never",
                        "daily",
                        "instantly",
                        null
                      ],
                      "nullable": true,
                      "description": "Email notification preference of this user for delivering task updates"
                    },
                    "sync_scheme": {
                      "type": "string",
                      "enum": [
                        "smart_cellular",
                        "full_cellular"
                      ],
                      "nullable": false,
                      "description": "Synchronization scheme of this user used by the mobile apps"
                    },
                    "account_role": {
                      "type": "string",
                      "enum": [
                        "account_member",
                        "account_admin"
                      ],
                      "nullable": false,
                      "description": "The role of the user in the account they belong to"
                    },
                    "email_addresses": {
                      "type": "array",
                      "deprecated": true,
                      "nullable": false,
                      "description": "Deprecated. Use the \"email\" property instead",
                      "items": {
                        "type": "object",
                        "nullable": false,
[...]
